.rdw-editor-main {
  border: 1px solid rgba(128, 128, 128, 0.1);
  min-height: 150px; }

.Menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0px; }
  .Menu li {
    list-style: none;
    margin: 10px;
    color: white; }

.image-gallery-slide img {
  width: auto !important;
  max-width: 100%; }

.fileUploader {
  margin: auto;
  margin-bottom: 70px; }

body {
  margin: 0px !important; }

