.CreateTicket-formControl-126 {
  min-width: 100% !important; }

.EditTicket-formControl-257 {
  min-width: 100% !important; }

.MuiInput-underline-269:after {
  border-bottom: 2px solid #9c27b0 !important; }

.MuiInput-underline-422:after {
  border-bottom: 2px solid #9c27b0 !important; }

.MuiFormControl-fullWidth-417 {
  margin-top: 15px !important; }

.Invite-formControl-126 {
  min-width: 100% !important; }

.rdw-editor-main {
  border: 1px solid rgba(128, 128, 128, 0.1);
  min-height: 150px; }

.MuiAvatar-root-551 {
  width: 35px !important;
  height: 35px !important; }

.MuiSvgIcon-root-104 {
  width: 0.9em !important;
  height: 0.9em !important; }

.my-ticket-list {
  margin-bottom: 30px !important; }

.ticket-title {
  margin-bottom: 30px !important; }

.Ticket-cardCategoryWhite-123 {
  text-align: center !important; }

.ticket-priority-red {
  background-color: red !important; }

.ticket-priority-green {
  background-color: green !important; }

.ticket-priority-orange {
  background-color: orange !important; }

.my-comments-form {
  width: 70%; }

.my-ticket-description {
  min-height: 200px; }

.my-ticket-time {
  margin-bottom: 20px !important; }

.my-comment-submit {
  margin-top: 10px !important;
  padding: 0 !important; }

.MuiFormControl-marginNormal-426 {
  width: 100% !important; }

.my-spinner {
  margin: auto !important; }

.MuiCircularProgress-colorPrimary-324 {
  color: light-grey !important; }

.my-input {
  margin-bottom: 25px !important; }

.my-select {
  padding: 15px; }

.my-label {
  margin-left: 15px; }

.Ticket-formControl-126, .MuiFormControl-marginNormal-244, .MuiFormControl-marginNormal-294 {
  min-width: 100% !important; }

@media (min-width: 600px) {
  .MuiGrid-grid-md-9-352, .MuiGrid-grid-md-9-221 {
    max-width: 100% !important;
    width: 100% !important; } }

.MuiFormControl-marginNormal-287 {
  margin: 0px 0px 30px !important;
  width: 100% !important; }

.MuiButton-containedPrimary-203 {
  width: 100% !important;
  margin: 5px !important;
  padding: 5px !important; }

.MuiButton-containedPrimary-225 {
  height: 35px !important; }

.GridItem-grid-107 {
  margin: auto !important; }
