
.my-input 
    margin-bottom: 25px !important    
    
.my-select 
    padding: 15px

.my-label 
    margin-left: 15px   

.EditTicket-formControl-257
    min-width: 100% !important            

.my-spinner
    margin: auto !important

.my-ticket-list
    display: flex !important
    margin-bottom: 30px !important


.ticket-title
    margin-bottom: 30px !important

.ticket-priority-red
    background-color: red !important    

.ticket-priority-green
    background-color: green !important     

.ticket-priority-orange
    background-color: orange !important         

.my-comments-form
    width: 70%  

.my-ticket-description
    min-height: 200px          