
.my-input 
    margin-bottom: 25px !important    
    
.my-select 
    padding: 15px

.my-label 
    margin-left: 15px   

.EditTicket-formControl-257
    min-width: 100% !important            

.my-spinner
    margin: auto !important

.my-ticket-list
    display: flex !important
    margin-bottom: 30px !important

.my-select
    width: 90%

.ticket-title
    margin-bottom: 30px !important

.ticket-priority-red
    background-color: red !important    

.ticket-priority-green
    background-color: green !important     

.ticket-priority-orange
    background-color: orange !important         

.my-comments-form
    width: 70%  

.my-ticket-description
    min-height: 200px          

.my-ticket-time
    margin-bottom: 20px !important

.my-comment-submit
    margin-top: 10px !important
    padding: 0 !important

.MuiGrid-grid-md-9-352    
    @media (min-width: 960px)   
        min-width: 100% !important       
        